<% if (settings.ads.enabled == true) { %>
         <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Advertisement</h4>
                    <div class="table-responsive">
                      <%= settings.ads.script %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<% } %>
