


                    <div class="box">
                        <h3 class="card-title">Create Server</h3>
                        <p class="text-muted ">Deploy a new Server.</p><br>
                        <a class="btn btn-primary btn-lg invisible" style="border-radius: 5px;" href="../servers/new">Buy Extra Resources</a>
                    </div>