
<!DOCTYPE html>
<html lang="en">
<%- include('./components/head') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <script>
        history.pushState('/login', 'Alt Detected!', '/login')
    </script>
  <body>
    <div style="background-color: #111319" class="container-scroller">
      <div style="background-color: #111319" class="container-fluid page-body-wrapper full-page-wrapper">
        <div style="background-color: #111319" class="row w-100 m-0">
          <div style="background-caolor: #111319" class="content-wrapper full-page-wrapper d-flex align-items-center">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <form>
                  <div class="text-center">
                    <br>
                    <center>
                      <p style="font-family: 'Roboto Mono', monospace;">Error!</p>
                      <h3><bold>Alt Account Detected</bold></h3>
                    </center>
                    <br>
                    <p>Halex detected that you have multiple accounts with us</p><br>
                    <p>We do not allow the use of multiple accounts on our services</p><br>
                    <br>
                    <a href="../login" class="btn btn-primary btn-lg">Try again</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('./components/scripts') %>
  </body>

</html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Login to access the dashboard.">
  <meta name="keywords" content="hosting, free hosting, mc, mc hosting, minecraft, witchly, witchlyhost, witchly.host">
  <meta name="author" content="Dashboard">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>