<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <script>
        history.pushState('/login', 'VPN Detected!', '/login')
    </script>
  <body>
    <div style="background-color: #111319" class="container-scroller">
      <div style="background-color: #111319" class="container-fluid page-body-wrapper full-page-wrapper">
        <div style="background-color: #111319" class="row w-100 m-0">
          <div style="background-color: #111319" class="content-wrapper full-page-wrapper d-flex align-items-center">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <form>
                  <div class="text-center">
                    <br>
                    <center>
                      <p style="font-family: 'Roboto Mono', monospace;">Error!</p>
                      <h3><bold>VPN Detected</bold></h3>
                    </center>
                    <br>
                    <p>We detected that you are using a VPN, please disable it to continue</p><br>
                    <p>Users with a VPN are usually the ones who abuse our services, so we block anyone from logging in with a VPN</p><br>
                    <br>
                    <a href="../login" class="btn btn-primary btn-lg">Try again</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%- include('./components/scripts') %>
  </body>
</html>