
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= extra.home.name %></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="https://i.imgur.com/n8BkmF7.png" />
    <link rel="icon" type="image/png" href="<%= extra.faviconlink %>">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link href="https://fonts.cdnfonts.com/css/whitney" rel="stylesheet">
</head>
<body style="font-family: 'Whitney-Semibold', sans-serif;">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <script>
        history.pushState('/login', 'VPN Detected!', '/login')
    </script>
  <body>
    <div style="background-color: #111319" class="container-scroller">
      <div style="background-color: #111319" class="container-fluid page-body-wrapper full-page-wrapper">
        <div style="background-color: #111319" class="row w-100 m-0">
          <div style="background-caolor: #111319" class="content-wrapper full-page-wrapper d-flex align-items-center">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <form>
                  <div class="text-center">
                    <br>
                    <center>
                      <p style="font-family: 'Roboto Mono', monospace;">Error!</p>
                      <h3><bold>VPN Detected</bold></h3>
                    </center>
                    <br>
                    <p>Halex detected that you are using a VPN, please disable it to continue</p><br>
                    <p>Users with a VPN are usually the ones who abuse our services, so we block anyone from logging in with a VPN</p><br>
                    <br>
                    <a href="../login" class="btn btn-primary btn-lg">Try again</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
<!-- plugins:js -->
<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/misc.js"></script>
<script src="/assets/js/settings.js"></script>
<script src="/assets/js/todolist.js"></script>
<!-- endinject -->
  </body>

</html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Login to access the dashboard.">
  <meta name="keywords" content="hosting, free hosting, mc, mc hosting, minecraft, witchly, witchlyhost, witchly.host">
  <meta name="author" content="Dashboard">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>