


<div class="card" style="display: flex; flex-direction: row; margin-top: 50px; margin-left: 30px;">

        <h1 class="text-light" style="margin-top: 40px;">Activity: <p style="color: rgb(130, 255, 47);">+ <%= user.coins %> Coins</p></h1>
    
    
    
    </div>


