<!DOCTYPE html>
<html lang="en">

<%- include('./components/head') %>

<body>
<div class="container-scroller">
    <%- include('./components/sidebar') %>
    <div class="container-fluid page-body-wrapper">
        <%- include('./components/topnav') %>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card" style="height: 100px;">
                            <div class="card-body">
                                <h3>Tos</h3>
                                <p class="text-muted">Don't Break our Terms of Service</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
