<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div style="background: #0b0b0f;" class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a style="color: white" class="sidebar-brand brand-logo" href="/dashboard"><%= extra.home.name %> Admin</a>
  </div>
  <ul class="nav">
      <li class="nav-item nav-category">
          <span class="nav-link text-white"><h4>Admin Pages</h4></span>
      </li>
      <li class="nav-item menu-items">
          <a class="nav-link" href="../admin">
              <span class="menu-title">Admin Home</span>
          </a>
      </li>
      <li class="nav-item menu-items">
          <a class="nav-link" onClick="window.location.href='../admin/coins';">
              <span class="menu-title">Coins</span>
          </a>
      </li>
      <li class="nav-item menu-items">
          <a class="nav-link" onClick="window.location.href='../admin/resources';">
              <span class="menu-title">Resources</span>
          </a>
      </li>
      <li class="nav-item menu-items">
          <a class="nav-link" onClick="window.location.href='../admin/plans';">
              <span class="menu-title">Plans</span>
          </a>
      </li>
      <li class="nav-item menu-items">
          <a class="nav-link" onClick="window.location.href='../admin/coupons';">
              <span class="menu-title">Coupons</span>
          </a>
      </li>
      <li class="nav-item menu-items">
          <a class="nav-link" onClick="window.location.href='../admin/server';">
              <span class="menu-title">Servers</span>
          </a>
      </li>
      <li class="nav-item menu-items">
          <a class="nav-link" onClick="window.location.href='../admin/user';">
              <span class="menu-title">Users</span>
          </a>
      </li>
      <li class="nav-item nav-category">
          <span class="nav-link text-white"><h4>Others</h4></span>
      </li>
      <li class="nav-item menu-items">
          <a class="nav-link" onClick="window.location.href='../admin/reghost';">
              <span class="menu-title">Register your Host</span>
          </a>
      </li>
      <li class="nav-item menu-items">
          <a class="nav-link" onClick="window.location.href='../admin/settings';">
              <span class="menu-title">Settings</span>
          </a>
      </li>
      <li class="nav-item nav-category">
        <span class="nav-link text-white"><h4>Dashboard</h4></span>
    </li>
      <li class="nav-item menu-items">
          <a class="nav-link" href="../dashboard">
              <span class="menu-title">Back to Dashboard</span>
          </a>
      </li>
  </ul>
</nav>